title: Python Programming for Economics and Finance
author: Thomas J. Sargent & John Stachurski
logo: _static/qe-logo-large.png

execute:
  execute_notebooks: "cache"
  timeout: 60
#   run_in_temp: true

sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinx_exercise]
  config:
    html_theme: quantecon_book_theme
    html_static_path: ['_static']
    html_theme_options:
