title: Python Programming for Economics and Finance
author: Thomas J. Sargent & John Stachurski
logo: _static/qe-logo.png
description: This website presents a set of lectures on python programming for economics.

execute:
  execute_notebooks: "cache"
  timeout: 600 # 10 minutes

html:
  baseurl: https://python-programming.quantecon.org/

latex:
  latex_documents:
     targetname: quantecon-python-programming.tex

sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinxext.rediraffe, sphinx_exercise, sphinx_togglebutton]
  config:
    # false-positive links
    linkcheck_ignore: ['https://github.com/matplotlib/matplotlib/blob/v3.6.2/lib/matplotlib/axes/_axes.py#L1417-L1669',
                       'https://ieeexplore.ieee.org/document/8757088',
                       'https://www.sciencedirect.com/science/article/pii/S1477388021000177',
                       'https://keras.io/',
                       'https://data.oecd.org/']
    html_favicon: _static/lectures-favicon.ico
    html_theme: quantecon_book_theme
    html_static_path: ['_static']
    html_theme_options:
      header_organisation_url: https://quantecon.org
      header_organisation: QuantEcon
      repository_url: https://github.com/QuantEcon/lecture-python-programming.myst
      nb_repository_url: https://github.com/QuantEcon/lecture-python-programming.notebooks
      twitter: quantecon
      dark_logo: qe-logo-dark.png
      twitter_logo_url: https://assets.quantecon.org/img/qe-twitter-logo.png
      og_logo_url: https://assets.quantecon.org/img/qe-og-logo.png
      mainpage_author_fontsize: 22
      description: This website presents a set of lectures on python programming for economics.
      keywords: Python, QuantEcon, Quantitative Economics, Economics, Sloan, Alfred P. Sloan Foundation, Tom J. Sargent, John Stachurski
      analytics:
        google_analytics_id: G-X7DH1M2DPY
      launch_buttons:
        notebook_interface        : classic  # The interface interactive links will activate ["classic", "jupyterlab"]
        colab_url                 : https://colab.research.google.com
        thebe                     : false  # Add a thebe button to pages (requires the repository to run on Binder)
      authors:
        - name: Thomas J. Sargent
          url: http://www.tomsargent.com/
        - name: John Stachurski
          url: https://johnstachurski.net/
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    rediraffe_redirects:
      index_toc.md: intro.md
